Options -Indexes -MultiViews
DirectoryIndex status.php

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Range"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^$ status.php [L,QSA]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ router.php [L,QSA]
</IfModule>
